
@{ 

    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--fav icon-->
    <link rel="shortcut icon" href="~/Content/img/a.jpg" />

    <!-- Twitter -->
    <meta name="twitter:site" content="themepixels">
    <meta name="twitter:creator" content="themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="RMA Records">
    <meta name="twitter:description" content="Rolins Montessori Academy Records">
    <meta name="twitter:image" content="https://www.facebook.com/RolinsAcademy/photos/a.425295134511581.1073741827.424829361224825/425295137844914/?type=1&theater">

    <!-- Facebook -->
    <meta property="og:url" content="https://www.facebook.com/RolinsAcademy/">
    <meta property="og:title" content="RMA Records">
    <meta property="og:description" content="Rolins Montessori Academy Financial Records">

    <meta property="og:image" content="https://www.facebook.com/RolinsAcademy/photos/a.425295134511581.1073741827.424829361224825/425295137844914/?type=1&theater">
    <meta property="og:image:secure_url" content="https://www.facebook.com/RolinsAcademy/photos/a.425295134511581.1073741827.424829361224825/425295137844914/?type=1&theater">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Rolins Montessori Academy Financial Records">
    <meta name="author" content="Oriahi Emmanuel">





    <!-- Vendor css -->
    <link href="~/Content/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="~/Content/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">

    <!-- Shamcey CSS -->
    <link rel="stylesheet" href="~/Content/css/shamcey.css">
</head>
<body>
    @RenderBody()
    <script src="~Content/lib/jquery/jquery.js"></script>
    <script src="~Content/lib/popper.js/popper.js"></script>
    <script src="~Content/lib/bootstrap/bootstrap.js"></script>
    <script src="~Content/js/shamcey.js"></script>
</body>

</html>
