@model Chuks.Models.LoginInfo
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div>
    <div class="page-header header-filter" data-parallax="true" style="background-image:url(../../Content/img/bg5.jpg);">

        <div class="signpanel-wrapper">
            <div class="signbox">
                <div class="signbox-header">
                    <h2>Rolins Academy</h2>
                    <p class="mg-b-0">Log in Page</p>
                </div><!-- signbox-header -->





                @Html.ValidationSummary(false)

                @using (Html.BeginForm("Login", "LoginAuth", new { returnUrl = Request.QueryString["returnUrl"] }))

                {   <div class="signbox-body">
                <div class="form-group">
                    <label class="form-control-label">Email:</label>
                    <input type="email" name="Username" placeholder="Enter your email" id="Username" class="form-control">
                </div><!-- form-group -->




                <div class="form-group">
                    <label class="form-control-label">Password:</label>
                    <input type="password" name="Password" placeholder="Enter your password" class="form-control">




                </div><!-- form-group -->
                <div class="form-group">
                    <a href="">Forgot password?</a>
                </div><!-- form-group -->
                <button type="submit" class="btn btn-success btn-block">Sign In</button>

                <div class="tx-center bg-white bd pd-10 mg-t-40">Not yet a member? <a href="@Url.Action("Signup", "LoginAuth")">Create an account</a></div>
                <hr />

                <div class="row mg-btm">
                    <div class="col-md-12">
                        <a href="" class="btn btn-primary btn-block">
                            <i class="icon-facebook"></i>Login with Facebook
                        </a>
                    </div>

                </div>
            </div> }





            </div>
                </div><!-- signbox-body -->
            </div><!-- signbox -->
        </div><!-- signpanel-wrapper -->
    


